In [306]:
print(f"Summary\nNumber of players: {num_players}\nTotal Purchases: 780\nNumber of Unique Items: {num_items}\nAverage Purchase Price: $3.05\nTotal Revenue: $2379.77")

Summary
Number of players: 576
Total Purchases: 780
Number of Unique Items: 179
Average Purchase Price: $3.05
Total Revenue: $2379.77

In [85]:
gender_df

,Gender,Number,Percent,Total Spent,Average Spent per Person,Average Spent per Purchase
0,Male,484,84.03%,$1967.64,$4.07,$3.02
1,Female,81,14.06%,$361.94,$4.47,$3.20
2,Other/Decline to State,11,1.91%,$50.19,$4.56,$3.35

In [290]:
pd.DataFrame(buyers_df)

  Top Spenders Amount Spent  Number of Purchases Avg Spent per Purchase
0    Lisosia93       $18.96                    5                  $3.79
1  Idastidru52       $15.45                    4                  $3.86
2   Chamjask73       $13.83                    3                  $4.61
3       Iral74       $13.62                    4                  $3.40
4  Iskadarya95       $13.10                    3                  $4.37

In [298]:
pd.DataFrame(age_df)

,Age Groups,Purchase Count,Player Count,Purchase Totals,Average Purchase,Average Purchase per Person
0,<10,23,17,$77.13,$3.35,$4.54
1,10-14,28,22,$82.78,$2.96,$3.76
2,15-19,136,107,$412.89,$3.04,$3.86
3,20-24,365,258,"$1,114.06",$3.05,$4.32
4,25-29,101,77,$293.00,$2.90,$3.81
5,30-34,73,52,$214.00,$2.93,$4.12
6,35-39,41,31,$147.67,$3.60,$4.76
7,40-44,12,11,$36.54,$3.04,$3.32

In [299]:
pop_items_df
#These are the most popular items

,Item,Number of Purchases,Price,Total Spent,Item ID
0,Final Critic,13,$4.88,$63.44,92
1,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76,178
2,Persuasion,9,$3.19,$28.71,141
3,Nirvana,9,$4.90,$44.10,82
4,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77,108

In [300]:
profitable_items
#These are the most profitable items

,Item,Purchase Count,Purchase Total,Price,Item ID
0,Final Critic,13,$59.99,$4.61,95
1,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23,178
2,Nirvana,9,$44.10,$4.90,82
3,Fiery Glass Crusader,9,$41.22,$4.58,145
4,Singed Scalpel,8,$34.80,$4.35,103

In [ ]:
"""
Three Conclusions
1. No item or set of items dominates. The purchases are spread out over a wide variety of items.
2. Women are only about one seventh of the playing population, but on average they spend slightly more than men.
3. The game has very fewer players over 40. There is no particular relationship between age and average spend.

"""

In [1]:
%matplotlib notebook

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
pwd

'/Users/owenpoindexter'

In [4]:
cd ~

/Users/owenpoindexter

In [5]:
cd Desktop

/Users/owenpoindexter/Desktop

In [6]:
ls

Give-Directly.png
PythonStuff/
Sam-Dyson-2018-sinkers.png
Screen Shot 2018-09-13 at 4.46.37 PM.png
Screen Shot 2018-11-13 at 9.32.07 AM.png
Screen Shot 2018-12-01 at 5.20.24 PM.png
Untitled.ipynb
Week-04-Pandas/
basement noise/
my-example.py
myfirstnotebook.ipynb
o-tunes/
python-challenge/

In [7]:
cd Week-04-Pandas/

/Users/owenpoindexter/Desktop/Week-04-Pandas

In [8]:
ls

Day-01-Pandas.ipynb* HeroesOfPymoli.csv   Untitled.ipynb
Day-02-Pandas.ipynb* Output/              Untitled1.ipynb
Day-03-Pandas.ipynb* Resources/

In [9]:
csvpath = "./HeroesOfPymoli.csv"

In [10]:
game_data = pd.read_csv(csvpath)
game_df = pd.DataFrame(game_data)

In [11]:
game_df["Price"] = pd.to_numeric(game_df['Price'])
#game_df["Price"] = '${:,.2f}'.format(game_df["Price"])

#game_df.astype(int64, errors='ignore')
game_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [12]:
game_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [13]:
all_players = game_df["SN"].unique()
num_players = len(all_players)
num_players
game_by_gender = game_df.groupby(["Gender"])
gender_mean = game_by_gender.mean()

gender_total_purchases = game_by_gender["Price"].sum()
gender_count = game_by_gender.count()
player_gender = game_by_gender["SN"].unique()
num_women = len(player_gender["Female"])
num_men = len(player_gender["Male"])
num_other = len(player_gender["Other / Non-Disclosed"])
perc_men = num_men / num_players 
perc_women = num_women / num_players 
perc_other = num_other / num_players

In [14]:
(gender_total_purchases["Female"] / num_women)

4.4683950617283905

In [15]:
gender_total_purchases.astype(float)

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
print(num_men, num_women, num_other)

484 81 11

In [81]:
avg_female_purchase_price = gender_mean["Price"]["Female"]
avg_male_purchase_price = gender_mean["Price"]["Male"]
avg_other_purchase_price = gender_mean["Price"]["Other / Non-Disclosed"]
total_female_spent = gender_total_purchases["Female"]
total_male_spent = gender_total_purchases["Male"]
total_other_spent = gender_total_purchases["Other / Non-Disclosed"]
avg_female_purchase = total_female_spent / num_women
avg_male_purchase = total_male_spent / num_men
avg_other_purchase = total_other_spent / num_other
total_men_spent = "${:.2f}".format(total_male_spent)
total_women_spent = "${:.2f}".format(total_female_spent)
total_other_spent_d = "${:.2f}".format(total_other_spent)
avg_woman_purchase_price = "${:.2f}".format(avg_female_purchase_price)
avg_man_purchase_price = "${:.2f}".format(avg_male_purchase_price)
avg_other_purchase_price_d = "${:.2f}".format(avg_other_purchase_price)
avg_man_purchase = "${:.2f}".format(avg_male_purchase)
avg_woman_purchase = "${:.2f}".format(avg_female_purchase)
avg_other_purchase_d = "${:.2f}".format(avg_other_purchase)

In [84]:
gender_df = pd.DataFrame(
{
    "Gender" : ["Male", "Female", "Other/Decline to State"],
    "Number" : [num_men, num_women, num_other],
    "Percent" : [perc_men, perc_women, perc_other],
    "Total Spent" : [total_men_spent, total_women_spent, total_other_spent_d],
    "Average Spent per Person" : [avg_man_purchase, avg_woman_purchase, avg_other_purchase_d],
    "Average Spent per Purchase" : [avg_man_purchase_price, avg_woman_purchase_price, avg_other_purchase_price_d]
})
gender_df

,Gender,Number,Percent,Total Spent,Average Spent per Person,Average Spent per Purchase
0,Male,484,84.03%,$1967.64,$4.07,$3.02
1,Female,81,14.06%,$361.94,$4.47,$3.20
2,Other/Decline to State,11,1.91%,$50.19,$4.56,$3.35

In [83]:
game_data["SN"].value_counts()

Lisosia93        5
Idastidru52      4
Iral74           4
Inguron55        3
Yathecal82       3
Tyidaim51        3
Strithenu87      3
Idai61           3
Saedaiphos46     3
Aelin32          3
Chamjask73       3
Ilarin91         3
Iskadarya95      3
Chadolyla44      3
Aina42           3
Saistyphos30     3
Sondastsda82     3
Chanastnya43     3
Ialallo29        3
Iri67            3
Rarallo90        3
Chamimla85       3
Pheodaisun84     3
Raesty92         3
Lisim78          3
Phyali88         3
Asur53           3
Siallylis44      3
Phaena87         3
Hiaral50         3
                ..
Sundim98         1
Chanirra64       1
Ethrasyon38      1
Eyista89         1
Ilaesudil92      1
Mindadaran26     1
Undassa89        1
Aisur51          1
Mindilsa34       1
Firon67          1
Quanrion96       1
Undosia27        1
Eurisuru25       1
Frichynde86      1
Indirrian56      1
Ililsasya43      1
Meosridil82      1
Irithlis29       1
Aeral97          1
Haestyphos66     1
Tyeuduen32       1
Qilatista90      1
Frichjaskan98    1
Eustyria89       1
Iarallo65        1
Chamadar79       1
Pheutherin27     1
Sundadarla27     1
Frichjask31      1
Thrientossa55    1
Name: SN, Length: 576, dtype: int64

In [20]:
num_items = len(game_data["Item Name"].unique())
num_items

179

In [21]:
gender_counts = game_data["Gender"].value_counts()

In [22]:
gender_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [23]:
unique_item_IDs = game_data["Item ID"].unique()

In [24]:
num_items_bought = len(unique_item_IDs)
num_items_bought

183

In [25]:
avg_purchase_price = game_data["Price"].mean()
#avg_purchase_price("${:.2f}".format)
game_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [26]:
num_purchases = len(game_data["Item ID"])
bins = [0,9, 14,19,24,29,34,39,44]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44"]

game_data["Age Groups"] = pd.cut(game_data["Age"], bins, labels=labels)
age_data = game_data.groupby(["Age Groups"])
age_purchase_count = age_data["Purchase ID"].count()
age_purchase_average = age_data["Price"].mean()
age_purchase_sum = age_data["Price"].sum()
age_purchase_person_average = age_purchase_sum / age_purchase_count
player_age_count = []
for label in labels:
    player_age_count.append((len(age_data["SN"].unique()[label])))
age_avg_person_purchase = age_purchase_sum / player_age_count

In [27]:
age_df = {
    "Age Groups" : list(labels),
    "Purchase Count" : list(age_purchase_count),
    "Player Count" : player_age_count,
    "Purchase Totals" : age_dollar_sum,
    "Average Purchase" : age_dollar_average,
    "Average Purchase per Person" : age_avg_person_dollar
    
}
pd.DataFrame(age_df)

NameError: name 'age_dollar_sum' is not defined

In [ ]:
age_dollar_sum = []
for money in age_purchase_sum:
    age_dollar_sum.append('${:,.2f}'.format(money))

In [28]:
age_dollar_average = []
for money in age_purchase_average:
    age_dollar_average.append('${:,.2f}'.format(money))

In [29]:
age_avg_person_dollar = []
for money in age_avg_person_purchase:
    age_avg_person_dollar.append('${:,.2f}'.format(money))

In [30]:
total_revenue = game_data["Price"].sum()

In [31]:
game_data_players = game_data.groupby(["SN"])
top_buyers_df = game_data_players["SN", "Price"].sum().sort_values("Price", ascending=False)[0:5]
top_buyers_spent = list(top_buyers_df.iloc[:,0])
top_buyers = list(top_buyers_df.index.values)
top_buyers_spent_dollars = []
for i in top_buyers_spent:
    top_buyers_spent_dollars.append('${:,.2f}'.format(i))

In [32]:
name_dict = dict(game_data["SN"].value_counts())
top_buyers_purchases = []
for name in top_buyers:
    top_buyers_purchases.append(name_dict[name])
top_buyers_purchases
top_avg_price = []
for i in range (0,len(top_buyers_spent)):
    top_avg_price.append('${:,.2f}'.format( top_buyers_spent[i] / top_buyers_purchases[i]))

In [33]:
buyers_df = {
    "Top Spenders" : top_buyers,
    "Amount Spent" : top_buyers_spent_dollars,
    "Number of Purchases" : top_buyers_purchases,
    "Avg Spent per Purchase" : top_avg_price
}
pd.DataFrame(buyers_df)

  Top Spenders Amount Spent  Number of Purchases Avg Spent per Purchase
0    Lisosia93       $18.96                    5                  $3.79
1  Idastidru52       $15.45                    4                  $3.86
2   Chamjask73       $13.83                    3                  $4.61
3       Iral74       $13.62                    4                  $3.40
4  Iskadarya95       $13.10                    3                  $4.37

In [34]:
total_revenue

2379.77

In [35]:
avg_purchase_price = total_revenue / num_purchases

In [36]:
total_users = gender_counts.sum()
total_users

780

In [37]:
total_men = gender_counts["Male"]
total_women = gender_counts["Female"]
total_other = gender_counts["Other / Non-Disclosed"]

In [38]:
percent_purchases_male = '{:.2%}'.format(total_men /total_users)
percent_purchases_female = '{:.2%}'.format(total_women / total_users)
percent_purchases_other = '{:.2%}'.format(total_other /total_users)

In [39]:
percent_purchases_female

'14.49%'

In [40]:
percent_purchases_other

'1.92%'

In [41]:
perc_men = '{:.2%}'.format(perc_men)
perc_men
perc_women = '{:.2%}'.format(perc_women)
perc_other = '{:.2%}'.format(perc_other)

In [42]:
game_data.head()
top_items = game_data["Item Name"].value_counts()
top_items_dict = dict(top_items)

In [43]:
top_five_items

NameError: name 'top_five_items' is not defined

In [44]:
top_game_items = game_data.groupby(["Item Name"])
items_sorted = top_game_items.sum().sort_values("Price", ascending = False)
top_five_items = list(items_sorted.index.values[0:5])
top_five_items
top_items_spent = list(items_sorted["Price"][0:5])

In [45]:
item_spent = []
for item in top_items_spent:
    item_spent.append('${:,.2f}'.format(item))
item_spent

['$59.99', '$50.76', '$44.10', '$41.22', '$34.80']

In [46]:
item_id = items_sorted["Item ID"][0:5]
prof_item_id = []
for i in range (0, len(item_id)):
    prof_item_id.append(item_id[i] // item_count[i])
prof_item_id

NameError: name 'item_count' is not defined

In [47]:
item_count = []
for item in top_five_items:
    item_count.append(top_items_dict[item])

In [48]:
item_id

Item Name
Final Critic                                    1241
Oathbreaker, Last Hope of the Breaking Storm    2136
Nirvana                                          738
Fiery Glass Crusader                            1305
Singed Scalpel                                   824
Name: Item ID, dtype: int64

In [49]:
prof_items = {
    "Item" : top_five_items,
    "Purchase Count" : item_count,
    "Purchase Total" : item_spent,
    "Price" : final_prices,
    "Item ID" : prof_item_id
}
profitable_items = pd.DataFrame(prof_items)

NameError: name 'final_prices' is not defined

In [50]:
profitable_items

NameError: name 'profitable_items' is not defined

In [51]:
item_prices = []

In [52]:
for i in range(0,5):
    item_prices.append(float(item_spent[i][1:]) / item_count[i])
item_prices

[4.614615384615385, 4.2299999999999995, 4.9, 4.58, 4.35]

In [53]:
final_prices = []
for item in item_prices:
    final_prices.append('${:,.2f}'.format(item))

In [54]:
pop_items = top_game_items.count()
pop_items_sort = pop_items.sort_values("Gender", ascending=False)

In [55]:
pop_5_items = list(pop_items_sort.index.values[0:5])

In [56]:
pop_5_items

['Final Critic',
 'Oathbreaker, Last Hope of the Breaking Storm',
 'Persuasion',
 'Nirvana',
 'Extraction, Quickblade Of Trembling Hands']

In [57]:
pop_totals = list(pop_items_sort["SN"][0:5])

In [58]:
pop_df = {
    "Item" : pop_5_items,
    "Number of Purchases" : pop_totals,
    "Price" : pop_price_dollars,
    "Total Spent" : pop_spent_dollars,
    "Item ID" : pop_id
}

NameError: name 'pop_price_dollars' is not defined

In [59]:
pop_items_df = pd.DataFrame(pop_df)
pop_items_df

NameError: name 'pop_df' is not defined

In [60]:
pop_id=[]
for i in range (0, len(pop_5_items)):
    pop_id.append(list(game_df.loc[game_df["Item Name"] == pop_5_items[i] ,"Item ID"])[0])
pop_id

[92, 178, 141, 82, 108]

In [61]:
price_id=[]
for i in range (0, len(pop_5_items)):
    price_id.append(list(game_df.loc[game_df["Item Name"] == pop_5_items[i] ,"Price"])[0])
price_id
pop_spent = []
for i in range (0, len(price_id)):
    pop_spent.append(price_id[i] * pop_totals[i])
pop_spent

[63.44, 50.760000000000005, 28.71, 44.1, 31.77]

In [62]:
pop_spent_dollars = []
for money in pop_spent:
    pop_spent_dollars.append('${:,.2f}'.format(money))

In [63]:
pop_spent_dollars

['$63.44', '$50.76', '$28.71', '$44.10', '$31.77']

In [64]:
pop_price_dollars = []
for money in price_id:
    pop_price_dollars.append('${:,.2f}'.format(money))

In [65]:
pop_price_dollars

['$4.88', '$4.23', '$3.19', '$4.90', '$3.53']